<div class="accordion" id="accordionExample">
    {% for question in questions %}
    <div class="accordion-item bg-white rounded p-2 shadow">
        <h2 class="accordion-header" id={{ "heading" ~ loop.index }}>
            <button class="accordion-button {{ loop.index == 1 ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ question.id }}" aria-expanded="false" aria-controls="collapseOne">
                <strong>{{ question.title }}</strong>
            </button>
        </h2>
        <div id="collapseOne-{{ question.id }}" class="accordion-collapse collapse {{ loop.index == 1 ? 'show' : '' }}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p> {{ question.description }} </p>
            </div>
            <div class="text-center mb-1">
                <a href="/questions/show?id={{ question.id }}" class="btn btn-warning btn-sm col-2">Voir la question</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
