<div class="accordion" id="accordionExample">
    {% for question in questions %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ question.id }}" aria-expanded="true" aria-controls="collapseOne">
                {{ question.title }}
            </button>
        </h2>
        <div id="collapseOne-{{ question.id }}" class="accordion-collapse collapse {{ loop.index == 1 ? 'show' : '' }}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong> {{ question.description }}
            </div>
            <div class="text-end">
                <a href="/questions/show?id={{ question.id }}" class="btn btn-primary btn-lg" style="background-color: #7952b3">Voir</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
