<div class="mt-4 d-flex align-items-center flex-column text-center">

    <div>
        <div>
            <div class="main">
                    <div class="mt-3">
                        <img class="text-center img_profile mt-4"src="https://avatars.githubusercontent.com/{{ profile.pseudo_github }}" class="img-thumbnail" alt="...">
                    </div>
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
            </div>
        </div>
        <div>
        </div>
    </div>

    <div class="row">
        <h1>{{profile.user.id}}</h1>
        <p>{{profile.username}}</p>
        <span class ="mb-3" style="font-size: 20px; color: black;">
            {% for question in questions %}
                {{ question.nbQuestion }}
            {% endfor %}
                <i title="Questions asked" class="fas fa-question-circle"></i>
            {% for stat in stats %}
                {{ stat.nbAnswer }}
            {% endfor %}
                <i title="Answers sent" class="fas fa-comment"></i>
            {% for like in likes %}
                {{ like.nbLike }}
            {% endfor %}
                <i title="Thumbs-up received" class="fas fa-thumbs-up"></i>
        </span>
    </div>
    <div class="row">
    </div>
</div>