{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <h2> TAG : </h2>
    <div>
        {% for tag in tags %}
            {{ tag.name }}
        {% else %}
            Aucun tag pour cette question
        {% endfor %}
    </div>
    <p>Description : {{ answer.description }}</p>
    <a href="/questions/edit?id={{ question.id }}">Edit</a>
    <form action="/questions/delete" method="POST">
        <input type="hidden" name="id" value="{{ question.id }}">
        <a class="nav-link m-3 text-black" href="/questions/answers?id={{ question.id }}">Répondre</a>
    </form>
    <a href="/questions">Back</a>
{% endblock %}
