{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-5  h-100 bg-light pt-3 pb-3 mx-100 w-75 bg-white rounded p-4 shadow">
        <h1 class="mb-3 text-center">{{ question.title|raw }}</h1>
        <h4 class="mt-3 font-weight-normal text-end"> {{ profile.username }} {{ question.created_at|date("d/m/Y") }}</h4>
    </div>

    <div class="container mb-5 h-100 bg-light pt-3 pb-3 mx-100 w-75 bg-white rounded p-4 shadow mt-3">
        {% include 'Components/_tag.html.twig' %}
        <h2 class="mb-3"> {{ question.username }}</h2>
        <p>{{ question.description|raw }}</p>
        {% include 'Components/_addAnswer.html.twig' %}
    </div>
    <div class="container mt-1 mb-5 h-100 bg-grey pt-1 pb-1 w-100">
        <ul class="mt-4 bg-white rounded p-4 shadow">

            {% for answer in answers %}
                <li class="list-group-item">
                <form method="post" class="float-end mt-3" action="">
                    <input type="hidden" name="answerId" value={{ answer.answerId }}>
                    <button name="nbRank" class="btn btn-secondary btn-sm fas fa-thumbs-up navbar" value="{{ answer.ranking }}">
                        {{ answer.ranking }}
                    </button>

                </form>
                <a href="/user?id={{ answer.user_id }}" class="btn btn-info btn-sm col-2">{{ answer.username }}</a>
                <h6 class="mt-3 font-weight-normal"> Réponse donnée le  {{ answer.created_at|date("d/m/Y") }}</h6>
                    <div>
                        {{ answer.description|raw }}
                    </div>
                    {% else %}
                    Pas encore de réponse, soyez le premier à rendre service !
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

